// sample style
@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body,
html {
  font-size: 10px;
  font-family: 'Gowun Dodum', sans-serif;
}

a {
  &,
  &:active,
  &:hover,
  &:visited {
    color: #333;
    text-decoration: none;
  }
}

.wrap {
  max-width: 1024px;
  margin: auto;
}

.container {
  padding: 2em;
  h1 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    &:before {
      content: '#';
    }
  }
}

.header {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto, 250px);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);

  font-size: 1.5em;

  &-logo {
    grid-row: 1;
    align-self: center;
    letter-spacing: 7px;
  }
  .nav {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-row: 2;
    gap: 10px;
    align-self: center;

    &-item {
      border: 0 solid #000;
      border-width: 1px 0 0;
      padding: 0.5em 1em;
      transition: all 0.2s ease;
      line-height: 1.5;
      letter-spacing: 2px;
    }

    &-item.active {
      $_color: #26458b;
      border-color: $_color;
      background-color: $_color;
      font-weight: bold;
      color: color.invert($_color);
    }
  }
}

.todo {
  margin-top: 2em;
  ul {
    display: grid;
    grid-auto-rows: minmax(3em, auto);
    align-items: center;
  }
  li {
    font-size: 2em;
  }
  li button {
    margin-left: 10px;
    border: 1px solid #000;
    background-color: #fff;
    vertical-align: bottom;
    cursor: pointer;
    appearance: none;
  }
  &-buttons button {
    margin-right: 10px;
  }
}
